* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: SimSun, Microsoft Yahei,'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}


.content-box {
    position: absolute;
    left: 150px;
    right: 0;
    top: 70px;
    bottom: 0;
    width: calc(100% - 150px);
    height: calc(100% - 36px);
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
    overflow: hidden;
}

.content {
    width: 100%;
    height: calc(100% - 70px);
    padding: 10px;
    box-sizing: border-box;
}
.content-collapse {
    left: 65px;
    width: calc(100% - 65px);
}

.container {
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.crumbs {
    margin: 10px 0;
}

.el-table th {
    background-color: #f5f7fa !important;
}

.pagination {
    margin: 20px 0;
    text-align: right;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.el-button + .el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover {
    background: #f6faff;
}

.mgb20 {
    margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity .5s;
}

.move-enter,
.move-leave {
    opacity: 0;
}

/*BaseForm*/

.form-box {
    width: 600px;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
    padding-bottom: 0;
}

/*Upload*/

.pure-button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}

.g-core-image-corp-container .info-aside {
    height: 45px;
}

.el-upload--text {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.el-upload--text .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 40px 0 16px;
    line-height: 50px;
}

.el-upload--text {
    color: #97a8be;
    font-size: 14px;
    text-align: center;
}

.el-upload--text em {
    font-style: normal;
}

/*VueEditor*/

.ql-container {
    min-height: 500px;
    overflow-y: auto;
    height: 8rem !important;
}

.ql-snow .ql-tooltip {
    transform: translateX(117.5px) translateY(10px) !important;
}

.editor-btn {
    margin-top: 20px;
}

/*markdown*/

.v-note-wrapper .v-note-panel {
    min-height: 500px;
}

.fp {
    position: absolute;
    top: 0;
    right: 0px;
    left: 0;
    bottom: 17px;
}



/* .el-collapse-item__content{
		font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
		font-size: 18;
	}
 */
.el-collapse-item__header {
    border-bottom: none;
}

.el-collapse-item__wrap {
    border-bottom: none;
}

/*以下全局公用样式*/
.ml-5 {
    margin-left: 5px;
}

.mt-20 {
    margin-top: 20px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}
.box-sizing {
    box-sizing: border-box;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.row-center {
    justify-content: center;
}
.ml-20 {
    margin-left: 20px;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.items-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.pointer {
    cursor: pointer;
}

.color-1683ff {
    color: rgba(22, 131, 255, 1);
}
.mr-20 {
    margin-right: 20px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.font-500 {
    font-weight: 500;
}
.mr-5 {
    margin-right: 5px;
}
.news .el-autocomplete-suggestion li.highlighted, .el-autocomplete-suggestion li:hover {
    color: #2A79EE !important;

}
.dialog .el-dialog__header {
    border-bottom: 1px solid #EAEDF7;
}

.dialog .el-dialog__footer {
    border-top: 1px solid #EAEDF7;
    padding: 20px;
}
.el-textarea__inner,.el-input__inner {
    font-family: SimSun, Microsoft Yahei, PingFangSC-Regular, PingFang SC, serif;
}
.dialog .el-dialog__body {
    padding-top: 0 ;
}

