* {
	margin: 0;
	padding: 0;
}

html,
body,
#app,
.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
	font-size: 18;
}

a {
	text-decoration: none
}


.content-box {
	position: absolute;
	left: 150px;
	right: 0;
	top: 70px;
	bottom: 0;
	padding-bottom: 30px;
	-webkit-transition: left .3s ease-in-out;
	transition: left .3s ease-in-out;
	background: #f0f0f0;
}

.content {
	width: auto;
	height: 100%;
	padding: 10px;
	overflow-y: scroll;
	box-sizing: border-box;
}

.content-collapse {
	left: 65px;
}

.container {
	padding: 20px ;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.crumbs {
	margin: 10px 0;
}

.el-table th {
	background-color: #f5f7fa !important;
}

.pagination {
	margin: 20px 0;
	text-align: right;
}

.plugins-tips {
	padding: 20px 10px;
	margin-bottom: 20px;
}

.el-button+.el-tooltip {
	margin-left: 10px;
}

.el-table tr:hover {
	background: #f6faff;
}

.mgb20 {
	margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
	transition: opacity .5s;
}

.move-enter,
.move-leave {
	opacity: 0;
}

/*BaseForm*/

.form-box {
	width: 600px;
}

.form-box .line {
	text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
	margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
	padding-bottom: 0;
}

/*Upload*/

.pure-button {
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
}

.g-core-image-corp-container .info-aside {
	height: 45px;
}

.el-upload--text {
	background-color: #fff;
	border: 1px dashed #d9d9d9;
	border-radius: 6px;
	box-sizing: border-box;
	width: 360px;
	height: 180px;
	text-align: center;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.el-upload--text .el-icon-upload {
	font-size: 67px;
	color: #97a8be;
	margin: 40px 0 16px;
	line-height: 50px;
}

.el-upload--text {
	color: #97a8be;
	font-size: 14px;
	text-align: center;
}

.el-upload--text em {
	font-style: normal;
}

/*VueEditor*/

.ql-container {
	min-height: 500px;
	overflow-y: auto;
	height: 8rem !important;
}

.ql-snow .ql-tooltip {
	transform: translateX(117.5px) translateY(10px) !important;
}

.editor-btn {
	margin-top: 20px;
}

/*markdown*/

.v-note-wrapper .v-note-panel {
	min-height: 500px;
}

.fp {
	position: absolute;
	top: 0;
	right: 0px;
	left: 0;
	bottom: 17px;
}


textarea::-webkit-input-placeholder {
	/* WebKit browsers */
	/* placeholder颜色  */
	color: #c5c5c5;
	/* placeholder字号  */
	font-size: 14px;
	padding: 6px 10px;
}

textarea:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #c5c5c5;
	/* placeholder字号  */
	font-size: 14px;
	padding: 6px 10px;
}

textarea::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #c5c5c5;
	/* placeholder字号  */
	font-size: 14px;
	padding: 6px 10px;
}

textarea::-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #c5c5c5;
	/* placeholder字号  */
	font-size: 14px;
	padding: 6px 10px;
}

textarea {
	margin: 5px 0;
	font-size: 12px;
	color: #000000;
	/* height: 2.4rem; */
	/* width: 100%; */
	padding: 4px 0px;
	border-color: #dfdfdf;
	border-radius: 4px;
	outline: none;
}

textarea:focus {
	outline: 1px solid #70B6FF;
}

/* .el-collapse-item__content{
		font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
		font-size: 18;
	}
 */
	.el-collapse-item__header {
		border-bottom: none;
	}

	.el-collapse-item__wrap {
		border-bottom: none;
	}
	/*以下全局公用样式*/
.ml-5 {
	margin-left: 5px;
}
.mt-20 {
	margin-top: 20px;
}
.flex {
	display: flex;
}
